@import "../../scss/abstracts/variables";

.central {
    //width: 274px;
    width: 75%;
    height: 90vh;
    //height: 568px;
    background-color:chartreuse;
    border-radius: 15px;
}

@media (max-width: 450px) {
    .central {
        background-color: yellow;
        width: 80%;
        height: 80%;
    }
}
